.u-section-1 {
  background-image: url("images/dmin.jpg");
  background-position: 50% 0%;
}

.u-section-1 .u-sheet-1 {
  min-height: 890px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 977px;
  margin: 216px auto 60px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 748px;
}

.u-section-1 .u-container-layout-1 {
  padding: 40px 0 0;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  text-transform: uppercase;
  font-family: "Archivo Black";
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-line-1 {
  height: 11px;
  transform-origin: left center;
  margin: 30px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 {
    background-position: 34.74% 0%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 734px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 577px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 720px;
  }

  .u-section-1 .u-text-1 {
    font-size: 5.875rem;
  }

  .u-section-1 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 423px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 482px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 216px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 5rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    background-position: 81.49% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 622px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 502px;
    margin-top: 327px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 386px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 416px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.625rem;
  }
}